- const acceptedExtensionsList = viewModel.acceptedFiles.map(function (e){return "." + e}).join(',');

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Image Holder
    link(rel="stylesheet" href="./css/style.css?v=1.6")
  body
    #wrapper
      form#form-search(style="float: right")
        label(for="input-search") Search:
        input#input-search(type="text" autocomplete="off" style="margin-left: 10px")

      h1 Image Holder

      #data-import-field
        if viewModel.isPassCodeRequired
          form#form-pass-code
            label(for="pass-code-element") Access pass code:
            input#pass-code-element(type="password" autocomplete="off")

        input#data-import-input.hidden(type="file" accept=acceptedExtensionsList multiple="multiple")

        #data-import-dropzone.hidden
          h2 Drop files here or click to upload
          p Accepted file types: #{viewModel.acceptedFiles.join(", ")}.
          p Max file size - #{viewModel.maxFileSizeKb} kB.

        form#form-upload-options.hidden(style="margin-top: 20px;")
          input#checkbox-force-upload(type="checkbox" name="force-upload")
          label(for="checkbox-force-upload") Force upload to proceed with duplicated files.

      #output-content

      p
        a(href="https://github.com/PopovMP/image-holder") https://github.com/PopovMP/image-holder

    script(src="./js/io-service.js")
    script(src="./js/file-dropper.js")
    script(src="./js/application-presenter.js")
    script(src="./js/application.js")
    script.
        new Application(!{appModel});
