#wrapper {
  margin-left: 20px;
  max-width: 640px;
}

#data-import-field {
  border-radius: 5px;
  background-color: #ceecca;
  padding: 20px;
}

#data-import-dropzone {
  min-height: 150px;
  border: 1px solid #0087f7;
  box-sizing: border-box;
  border-radius: 5px;
  background: white;
  padding: 20px 50px;
  cursor: pointer;
}

#data-import-dropzone.hover {
  background-color: #a0d8ff;
  border: 2px solid #0087f7;
}

#pass-code-element {
  margin-left: 10px;
}

.hidden {
  display: none;
}

label {
  font-weight: bold;
}

.message {
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
}

.info {
  background-color: #ceecca;
}

.warning {
  background-color: #ece377;
}

.error {
  background-color: #ec7f84;
}

.url-filed {
  background-color: #cadfec;
}

.url-input {
  width: 100%;
  margin-top: 10px;
}

.image-box-header {
  margin-top: 0;
}

.image-preview {
  max-height: 300px;
  max-width: 100%;
  margin-bottom: 10px;
}

.delete-button {
  float: right;
  margin-top: -5px;
  margin-right: -5px;
  color: #9d9d9d;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.delete-button:hover {
  color: #e73c3c;
  text-decoration: none;
}
